<!DOCTYPE html>
<html>
  <head>
    <title> EMPLOYEE DASHBOARD</title>
  </head>
  <body>
    <form method="post">
      <table>
        <tr>
          <td> <input type='submit' name='mp' value='My Profile'> </td>
          <td> <input type='submit' name='up' value='Update Profile'> </td>
        </tr>
      </table>
  </form>
  </body>
</html>
