<!DOCTYPE html>
<html>
  <head>
    <title> ADD EMPLOYEE </title>
  </head>
  <body>
    <div style='width:100%;'>
    <form method='post'>
      <table style="width:100%;border: 2px, solid;" allign="middle">
        <thead>
          <td> ID </td>
          <td> Name </td>
          <td> Phone </td>
          <td> Gender </td>
          <td> Designation </td>
          <td> Action 1 </td>
          <td> Action 2 </td>
        </thead>

        <tbody>
          <tr>
            <td> 1 </td>
            <td> Tanvir </td>
            <td> 01515217821 </td>
            <td> Male </td>
            <td> Admin </td>
            <td> <input type='submit' name="upd" value="UPDATE">  </td>
            <td> <input type='submit' name="dlt" value="DELETE">   </td>
          </tr>
       </tbody>
      </table>
    </div>

    </form>

  </body>
</html>
