<!DOCTYPE html>
<html>
  <head>
    <title> ADD EMPLOYEE </title>
  </head>
  <body>
    <form method='post'>
      <table>
        <tr>
          <td> Emp Name: </td>
          <td> <input type='text' name='name'> </td>
        </tr>

        <tr>
          <td> Emp Phone: </td>
          <td> <input type='text' name='phone'> </td>
        </tr>

        <tr>
          <td> Emp Address: </td>
          <td> <input type='text' name='address'> </td>
        </tr>

        <tr>
          <td> Emp Gender: </td>
          <td>
            <select name='gen'>
              <option value="Male"> Male </option>
              <option value="Female"> Female </option>
            </select>
          </td>
        </tr>

        <tr>
          <td> Emp Design: </td>
          <td>
            <select name='des'>
              <option value="Admin"> Admin </option>
              <option value="Employee"> Employee </option>
            </select>
          </td>
        </tr>

        <tr>
          <td colsapn='2' align='center'> <input type='button' name='add' value='ADD'> </td>
        </tr>
      </table>

    </form>

  </body>
</html>
