<!DOCTYPE html>
<html>
  <head>
    <title> Update Profile</title>
  </head>
  <body>
    <form method='post'>
    <table>
      <tr>
        <td> Name </td>
        <td> <input type='text' name='n' value='Al-Amin'> </td>
      </tr>

      <tr>
        <td> Phone </td>
        <td> <input type='text' name='p' value='01515217000'> </td>
      </tr>

      <tr>
        <td> Designnation </td>
        <td> <input type='text' name='d' value='Manager'> </td>
      </tr>

      <tr>
        <td> Blood Group: </td>
        <td> <input type='text' name='b' value='O+'> </td>
      </tr>

      <tr>
        <td colspan='2' align='middle'> <input type='button' name='update' value='UPDATE'> </td>
      </tr>
    </table>
    </form>
  </body>
</html>
