<!DOCTYPE html>
<html>
  <head>
    <title> EMPLOYEE DASHBOARD</title>
  </head>
  <body>
    <form method='post'>
    <table>
      <tr>
        <td> Name </td>
        <td> <input type='text' name='n' value='Al-Amin' readonly> </td>
      </tr>

      <tr>
        <td> Phone </td>
        <td> <input type='text' name='p' value='01515217000' readonly> </td>
      </tr>

      <tr>
        <td> Designnation </td>
        <td> <input type='text' name='d' value='Manager' readonly> </td>
      </tr>

      <tr>
        <td> Blood Group: </td>
        <td> <input type='text' name='b' value='O+' readonly> </td>
      </tr>
    </table>
    </form>
  </body>
</html>
